<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header style="height: 64px;" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">About</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

            </nav>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="page-content">

            <style>
                .demo-card-wide.mdl-card {
                    width: 512px;
                }

                .demo-card-wide > .mdl-card__title {
                    color: #000000;
                    height: 100px;

                }


            </style>
            <div style="margin:0 auto;">


                <div style="margin:0 auto" class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Digit recognizer is practical example for my thesis work on "Recognizing context of images using
                        deep learning"
                        at Faculty of Electrical Engineering and Computing, University of Zagreb.<br>

                        My mentor is: Doc. dr.sc. Marin Šilić
                        <br>
                        Credit: Shimun Matić, 2017
                    </div>
                </div>
            </div>

        </div>

</body>
</html>